<nav #navbar class="navbar navbar-expand-lg fixed-top docs-navbar-header">
  <a class="mat-button logo-wrap margin-right-15" href="/app/dashboard">
    <span>
      <img class="site-logo" src="../../../assets/images/logo.png" />
    </span>
  </a>
  <div class="container-fluid">
    <!-- <div class="navbar-wrapper">
      <div class="navbar-minimize">
        <button mat-raised-button (click)="minimizeSidebar()" class="btn btn-just-icon btn-white btn-fab btn-round">
          <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
          <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
        </button>
      </div>
      <a class="navbar-brand" href="{{getPath()}}"><b>{{getTitle()}}</b></a>
    </div> -->
    <button mat-button class="navbar-toggler btn-no-ripple" type="button" (click)="sidebarToggle()">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse sidebar-wrapper" id="navigation">
      <ul class="navbar-nav mr-auto" data-background-color="red">
        <li routerLinkActive="active" *ngFor="let menuitem of menuItems" class="nav-item active">
          <!--If is a single link-->
          <div *ngIf="showMenuItem(menuitem)">
            <a (click)="showAddLoad(menuitem.path)" *ngIf="menuitem.type === 'link' && menuitem.title === 'Add Load'" class="nav-link" style="cursor: pointer;">
              <i class="material-icons">{{menuitem.icontype}}</i>
              <p>{{menuitem.title}}</p>
            </a>
            <a [routerLink]="[menuitem.path]" (click)="sidebarToggle()" *ngIf="menuitem.type === 'link' && menuitem.title !== 'Add Load'" class="nav-link">
              <i class="material-icons">{{menuitem.icontype}}</i>
              <p>{{menuitem.title}}</p>
            </a>
            <!--If it have a submenu-->
            <a href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub'" class="nav-link"
              id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">{{menuitem.icontype}}</i>
              <p>{{menuitem.title}}</p>
            </a>
        
            <!--Display the submenu items-->
            <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub'">
              <ul class="navbar-nav">
                <li routerLinkActive="active" class="nav-item dropdown">
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a [routerLink]="[menuitem.path, childitem.path]" class="dropdown-item" id=""
                      *ngFor="let childitem of menuitem.children">
                      <!-- <span class="sidebar-mini">{{childitem.ab}}</span> -->
                      <span class="sidebar-normal">{{childitem.title}}</span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
          <li class="nav-item dropdown" >
            <a class="nav-link account" id="navbarDropdownMenuLink" data-toggle="dropdown" style="cursor: pointer;"
              aria-haspopup="true" aria-expanded="false">
              <i class="material-icons" style="color: #2d2d2d; margin-bottom: 10px; margin-left: -75px;">person</i>
              <span style="margin-left: 0px; margin-top: 2px;">Logout</span>
              <!-- <p>
                <span class="d-lg-none d-md-block" >Account</span>
              </p> -->
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <div class="dropdown-item">
                <span><b>Username: </b>{{appSession.user.name}}</span>
              </div>
              <!-- <a class="dropdown-item" href="/app/home" >Edit Profile</a> -->
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </li>
        
      </ul>
    </div>
    <!-- <div class="collapse navbar-collapse justify-content-end" id="navigation">

    </div> -->
    <div>
      <!-- <app-theme-picker></app-theme-picker> -->
    </div>
  </div>
</nav>