.navbar .mat-button.logo-wrap {
    line-height: initial;
}
.navbar {
    padding: 0;
}
.navbar .navbar-nav {
    padding: 10px 0 0;
}
.navbar > .container-fluid {
    align-items: normal;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus {
    background-color: inherit;
}
.navbar .collapse .navbar-nav .nav-item .nav-link {
    padding: 16px 20px 0 0;
}
// .sidebar-wrapper .nav-item a.nav-link p {
//     color: #fff;
//     float: left;
//     text-transform: none;
// }
// .sidebar-wrapper .nav-item a.nav-link i {
//     float: left;
//     color: #fff;
//     padding-top: 3px;
//     padding-right: 3px;
// }
@media (max-width: 991px) {
    .nav-open .navbar {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    .nav-open .navbar .navbar-collapse.collapse,
    .nav-open .navbar .navbar-collapse.collapse.in,
    .nav-open .navbar .navbar-collapse.collapsing {
        display: block !important;
    }
    .navbar-toggler:not(:disabled):not(.disabled){
        z-index: 10009;
    }
    .navbar-collapse .navbar-nav {
        height: 100vh;;
    }
}