<footer class="footer ">
  <div class="container" style="display: none;">
    <div class="copyright pull-right">
      &copy; {{Logistcs | date: 'yyyy'}} <a href="#" target="_blank">Logistcs</a>
    </div>
  </div>
</footer>
