<!-- <div>
    <mat-dialog-actions align="end">
        <button mat-icon-button style="float: right" [mat-dialog-close]="true">
            <mat-icon class="material-icons">close</mat-icon>
        </button>
    </mat-dialog-actions>
    <mat-dialog-content>

        <div *ngIf="data == 'documentComponent'">
            <app-docs></app-docs>
        </div>

        <div *ngIf="data == 'locationComponent'">
            <add-locations></add-locations>
        </div>

        <div *ngIf="data == 'contactComponent'">
            <app-contact-info></app-contact-info>
        </div>

    </mat-dialog-content>
</div> -->
<router-outlet></router-outlet>