<div>
    <h2 mat-dialog-title >{{data}}</h2>
    <hr>
    <mat-dialog-content>

        <!-- <b>{{data}}</b> -->
        <div *ngIf="data == 'Equipments'" >
            <app-equipment></app-equipment>
        </div>

        <div *ngIf="data == 'Preffered Lanes'" >
            <app-preffered-lanes></app-preffered-lanes>
        </div>

        <div *ngIf="data == 'Insurance Documents'" >
            <app-insurance></app-insurance>
        </div>

        <div *ngIf="data == 'Contacts'" >
            <app-carrier-contact-info></app-carrier-contact-info>
        </div>

        <div *ngIf="data == 'Locations'" >
            <app-carrier-location></app-carrier-location>
        </div>

    </mat-dialog-content>
    <hr>
    <mat-dialog-actions>
        <!-- <button mat-raised-button (click)="onCloseConfirm()">CONFIRM</button> -->
        <button mat-raised-button style="float: right" color="warn" (click)="onCloseCancel()">Close</button>
    </mat-dialog-actions>
    </div>